fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
asyncpg==0.29.0
alembic==1.13.2
geoalchemy2==0.15.2
shapely==2.0.6
pydantic==2.9.2
pydantic-settings==2.5.2
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
email-validator==2.2.0
celery==5.4.0
redis==5.0.8
openpyxl==3.1.5
boto3==1.35.19
jinja2==3.1.4
reportlab==4.2.5
httpx==0.27.2
greenlet==3.1.0
python-dotenv==1.0.1
python-dateutil==2.9.0.post0
aiosmtplib==3.0.2
imapclient==3.0.1
pytesseract==0.3.13
Pillow==10.4.0
PyMuPDF==1.24.10
